{% include directory ~ "/partials/header.html.twig" %}

	<div class="layout-container">
		<div id="main-image-container">
			<div id="main-overlay">
				<h1 class="subheading">A Carefully Curated Gathering Of Our Thoughts And Inspiration.<br /> The ENA Journal Is Our Celebration Of Mood And Muse, Building An Elevated Edit Of Thoughtful Beauty.</h1>
			</div>
		</div>

		<main role="main">
			<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

			<div id="frontpage-content-layout" class="layout-content">
				{{ page.content }}
			</div>{# /.layout-content #}

		</main>

	</div>{# /.layout-container #}

{% include directory ~ "/partials/footer.html.twig" %}