// Importing Variables/Mixins
@import 'var_mix.scss';

// Importing Google Fonts
@import url('https://fonts.googleapis.com/css?family=Exo|Lora');

// Standard CSS Reset
html, body{
	margin:0px;
	padding:0px;
	background-color:$lightOlive;
}

*{
	box-sizing:border-box;
	list-style-type:none;
	text-decoration:none;
	font-family:'Exo', sans-serif;
	// font-family:'Lora', serif;
}

// Styling Text Using Classes
.links{
	a{
		color:$linkColor;

		&:hover{text-decoration:underline;}
	}
}

.heading{
	font-family:'Exo', sans-serif;
	font-size:24px;
}

// Navigation and Branding
#branding-container{
	display:flex;
	justify-content:center !important;
	width:$full;
	padding:10px;

	img{
		height:60px;
	}
}

.navigation-menu{
	display:flex;
	justify-content:space-evenly;
	padding:10px;
}