// Variables
$lightOlive:rgb(247, 245, 237);
$linkColor: rgb(0, 115, 255);
$full:100%;

// Mixins
@mixin backgroundSettings {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}